<div class="container" style="position: relative">
  <img src="https://pro.sony/s3/2017/04/08151948/main-banner_1600x450.jpg" class="img-fluid">
  <div class="text-light" style="position: absolute; top: 50px">
    <p class="h1">Review list</p>
    <span>Review, comment an save your movies</span>
  </div>
</div>